<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contatanos 2</title>
</head>
<body>
    <h1>Contactanos ahora!!!</h1>
    {% if form.errors %}
    <p>Por favor revisa este campo</p>
    {% endif %}
    <form action="/contacto2/" method="POST">{% csrf_token %}
        <table>
            {{ formulario.as_table }}    
        </table>
        <input type="submit" value="Enviar">
    </form>
    
</body>
</html>